/*.window-app.grecka .window-content {
    
}*/
.sheet.grecka header.sheet-header .entete-grid {
  display: grid;
  grid-template-columns: 4fr 1.5fr 3fr;
}
.sheet.grecka header.sheet-header .nom-pj {
  grid-column: 1 / 4;
  font-size: 3em;
  padding-bottom: 3px;
}
.sheet.grecka header.sheet-header .nom-pj input {
  height: auto;
}
.sheet.grecka header.sheet-header input {
  padding: 2px 3px;
}
.sheet.grecka header.sheet-header label {
  padding: 5px 3px;
}
.sheet.grecka .sheet-fixed-content .item {
  font-size: 1.2em;
  color: #a27855;
}
.sheet.grecka .sheet-body .onglet-caracs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sheet.grecka .sheet-body .caracs-grid {
  display: grid;
  grid-template-columns: 1fr 50px;
}
.sheet.grecka .sheet-body .caracs-grid .titre-caracs {
  font-size: 1.5em;
  color: #a27855;
  grid-column: 1 / 3;
}
.sheet.grecka .sheet-body .caracs-grid .capacite,
.sheet.grecka .sheet-body .caracs-grid .archetype-item,
.sheet.grecka .sheet-body .caracs-grid .expertise-item {
  padding: 5px 3px;
}
.sheet.grecka .sheet-body .caracs-grid .archetype-rang,
.sheet.grecka .sheet-body .caracs-grid .capacite-rang {
  padding: 3px;
  text-align: center;
}
.sheet.grecka .sheet-body .caracs-grid .expertise-item {
  grid-column: 1 / 3;
}
.sheet.grecka .sheet-body .points {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}
.sheet.grecka .sheet-body .points .titre-etats,
.sheet.grecka .sheet-body .points .titre-drame,
.sheet.grecka .sheet-body .points .titre-sante,
.sheet.grecka .sheet-body .points .titre-heros,
.sheet.grecka .sheet-body .points .titre-preuves,
.sheet.grecka .sheet-body .points .titre-equipes {
  text-align: center;
  font-size: 1.2em;
  color: #a27855;
}
.sheet.grecka .sheet-body .points .etats {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sheet.grecka .sheet-body .points .etats .case-etat {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .points .etats label {
  margin-top: 2px;
}
.sheet.grecka .sheet-body .points .drame {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
.sheet.grecka .sheet-body .points .drame .case-drame,
.sheet.grecka .sheet-body .points .drame .case-drame-gray {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .points .sante {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sheet.grecka .sheet-body .points .sante .case-sante,
.sheet.grecka .sheet-body .points .sante .case-sante-gray {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .points .heros {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
.sheet.grecka .sheet-body .points .heros .case-heros,
.sheet.grecka .sheet-body .points .heros .case-heros-gray {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .points .preuves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sheet.grecka .sheet-body .points .preuves .case-preuves,
.sheet.grecka .sheet-body .points .preuves .case-preuves-gray {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .points .equipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sheet.grecka .sheet-body .points .equipes .case-equipes,
.sheet.grecka .sheet-body .points .equipes .case-equipes-gray {
  font-size: 1.3em;
  text-align: center;
}
.sheet.grecka .sheet-body .titre-tab {
  text-align: center;
  font-size: 1.5em;
  color: #a27855;
}
.sheet.grecka .sheet-body .editor {
  min-height: 200px;
}
