/*.window-app.grecka .window-content {
    
}*/

.sheet.grecka header.sheet-header {

    .entete-grid {
        display: grid;
        grid-template-columns: 4fr 1.5fr 3fr;
    }

    .nom-pj {
        grid-column: 1 / 4;
        font-size: 3em;
        padding-bottom: 3px;

        input {
            height: auto
        };
    }

    input {
        padding: 2px 3px;
    }

    label {
        padding: 5px 3px;
    }
}

.sheet.grecka .sheet-fixed-content {

    .item {
        font-size: 1.2em;
        color: #a27855;
    }
}

.sheet.grecka .sheet-body {
    
    .onglet-caracs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .caracs-grid {
        display: grid;
        grid-template-columns: 1fr 50px;

        .titre-caracs {
            font-size: 1.5em;
            color: #a27855;
            grid-column: 1 / 3;
        }

        .archetype-rang, .capacite-rang {
            text-align: center;
        }

        .expertise-item {
            grid-column: 1 / 3;
        }
    }

    .points { 
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr;

        .titre-etats, .titre-drame {
            font-size: 1.2em;
            color: #a27855;
        }

        .etats {
            grid-column: 1 / 3;
            display: grid;  
            grid-template-columns: 1fr 1fr
        }

        .drame {
            font-size: 1.3em;
            display: grid;  
            grid-template-columns: 1fr;
        }
    }

    .titre-tab {
        text-align: center;
        font-size: 1.5em;
        color: #a27855;
    }

    .editor {
        min-height: 200px;
    }
}
