<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="entete-grid">
            <div class="nom-pj"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/></div>
            <label>Conseiller de l'Assemblée Supérieure Greckale</label>
            <label>Agence :</label>
            <input name="system.agence" type="text" value="{{data.system.agence}}" placeholder="Agence"/>
            <label>Agent spéciale du Bureau-9</label>
            <label>Spécialisation :</label>
            <input name="system.specialisation" type="text" value="{{data.system.specialisation}}" placeholder="Spécialisation"/>
        </div>
    </header>
    <div class="sheet-fixed-content">
        <nav class="sheet-tabs tabs" data-group="principal">
            <a class="item" data-tab="caracteristiques">Caractéristiques</a>
            <a class="item" data-tab="histoire">Histoire</a>
            <a class="item" data-tab="equipements">Equipements</a>
        </nav>
    </div>
    <section class="sheet-body">
        <div class="tab" data-group="principal" data-tab="caracteristiques">
            <div class="onglet-caracs-grid">
                <div>
                    <div class="caracs-grid">
                        <label class="titre-caracs">ARCHETYPE</label>
                        {{#each archetypes as |archetype id|}}
                            <div class="archetype-item archetype-options" data-item-id="{{archetype._id}}">{{archetype.name}}</div>
                            <div class="archetype-rang">{{archetype.system.rang}}</div>
                        {{/each}}
                        <label class="titre-caracs">CAPACITES INNEES</label>
                        <div class="capacite">{{data.system.physique.label}}</div>
                        <input class="capacite-rang" name="system.physique.value" type="number" value="{{data.system.physique.value}}"/>
                        <div class="capacite">{{data.system.mental.label}}</div>
                        <input class="capacite-rang" name="system.mental.value" type="number" value="{{data.system.mental.value}}"/>
                        <div class="capacite">{{data.system.conscience.label}}</div>
                        <input class="capacite-rang" name="system.conscience.value" type="number" value="{{data.system.conscience.value}}"/>
                        <label class="titre-caracs">EXPERTISES</label>
                        {{#each expertises as |expertise id|}}
                            <div class="expertise-item expertise-options" data-item-id="{{expertise._id}}">{{expertise.name}}</div>
                        {{/each}}
                    </div>
                    <div class="points">
                        <div class="titre-etats">Points d'états</div>
                        <div> </div>
                        <div class="titre-drame">Points de Drame</div>
                        <div class="etats">
                            {{#if data.system.etat.ko}}
                                <div class="case-etat uncheck-ko"><a title="KO"><i class="fa-regular fa-square-check"></i></a></div>
                            {{else}}
                                <div class="case-etat check-ko"><a title="KO"><i class="fa-regular fa-square"></i></a></div>
                            {{/if}}
                            <label>KO (-1) </label>

                            {{#if data.system.etat.trauma}}
                                <div class="case-etat uncheck-trauma"><a title="Trauma"><i class="fa-regular fa-square-check"></i></a></div>
                            {{else}}
                                <div class="case-etat check-trauma"><a title="Trauma"><i class="fa-regular fa-square"></i></a></div>
                            {{/if}}
                            <label>Trauma (1) </label>

                            {{#if data.system.etat.mort}}
                                <div class="case-etat uncheck-mort"><a title="Mort"><i class="fa-regular fa-square-check"></i></a></div>
                            {{else}}
                                <div class="case-etat check-mort"><a title="Mort"><i class="fa-regular fa-square"></i></a></div>
                            {{/if}}
                            <label>Mort (0) </label>
                        </div>
                        <div class="drame">
                            {{#times data.system.drame.sysMax}}
                                <a class="case-drame" title="{{@index}}" data-index="{{@index}}">{{#if (gte data.system.drame.value @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}</a>
                                <!--<i class="fa-regular fa-square-check"></i><i class="fa-solid fa-square"></i>-->
                            {{/times}}
                        </div>
                    </div>
                </div>
                <div>
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
            </div>         
        </div> 
        <div class="tab" data-group="principal" data-tab="histoire">
            <div class="titre-tab"><label>DESCRIPTIONS & HISTOIRE</label></div>
            <div class="editor">
                {{editor data.system.description target="system.description" button=true owner=true editable=true}}
            </div>
        </div> 
        <div class="tab" data-group="principal" data-tab="equipements">
            <div class="titre-tab"><label>RESSOURCES & ÉQUIPEMENTS</label></div>
        </div>   
    </section>
</form>